* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
}

h1, h2, h3, button, input {
  font-family: "Raleway", sans-serif;
}

.btn:focus, .input:focus {
  outline: none;
}

.btn {
  padding: 15px 30px;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#34a39b), to(#33697f));
  background: linear-gradient(to right, #34a39b 0%, #33697f 100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-box-shadow: 0 0 20px rgba(101, 226, 217, 0.5);
          box-shadow: 0 0 20px rgba(101, 226, 217, 0.5);
  cursor: pointer;
}

.input {
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
}

body {
  background-color: #141414;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #181f2a;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  background-color: #1c2431;
}

@media screen and (min-width: 640px) {
  .header {
    padding: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 50px 75px;
  }
}

.logo__image {
  width: 100px;
}

@media screen and (min-width: 640px) {
  .logo__image {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .logo__image {
    width: 175px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  padding: 0 5px;
}

@media screen and (min-width: 640px) {
  .menu__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__item {
    margin-left: 30px;
  }
}

.menu__link {
  padding: 5px;
  font-size: 12px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  background-color: #339ecc;
}

@media screen and (min-width: 640px) {
  .menu__link {
    padding: 5px 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__link {
    font-size: 16px;
  }
}

.hero {
  text-align: center;
  padding: 0 30px;
  background-color: #1c2431;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 150px;
  }
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 300px;
  width: 100%;
  background: url("../images/bg-curvy-mobile.svg") 0 0/100% 30% no-repeat, -webkit-gradient(linear, left top, right top, from(#181f2a), to(#181f2a)) 0 100%/100% 70% no-repeat;
  background: url("../images/bg-curvy-mobile.svg") 0 0/100% 30% no-repeat, linear-gradient(left, #181f2a, #181f2a) 0 100%/100% 70% no-repeat;
}

@media screen and (min-width: 1024px) {
  .hero::before {
    height: 400px;
    background: url("../images/bg-curvy-mobile.svg") 0 0/100% 100% no-repeat;
  }
}

.hero > * {
  position: relative;
}

@media screen and (min-width: 640px) {
  .hero > * {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero > * {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
  }
}

.hero__image {
  padding-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .hero__image {
    padding-bottom: 70px;
  }
}

.hero__title {
  font-size: 24px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
  }
}

.hero__text {
  padding: 30px 10px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .hero__text {
    padding: 50px 10px 30px;
    font-size: 20px;
    max-width: 650px;
  }
}

.hero__btn {
  width: 70%;
  max-width: 300px;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 50px 30px;
}

@media screen and (min-width: 1024px) {
  .features {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-gap: 50px;
    padding: 0px 30px 150px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 640px) {
  .features > * {
    max-width: 350px;
    margin: 0 auto;
  }
}

.feature {
  padding: 50px 0;
  text-align: center;
}

.feature__image {
  width: 20%;
}

@media screen and (min-width: 1024px) {
  .feature__image {
    height: 75px;
    width: auto;
  }
}

.feature__title {
  padding: 35px 0 15px;
  font-size: 18px;
}

.feature__text {
  line-height: 1.7;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

@media screen and (min-width: 640px) {
  .productive {
    max-width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .productive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: initial;
    width: 90%;
    margin: 0 auto;
  }
}

.productive__image {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .productive__image {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .productive__container {
    width: 45%;
  }
}

.productive__title {
  padding: 40px 0 0;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .productive__title {
    font-size: 40px;
    width: 400px;
  }
}

.productive__text {
  padding: 20px 0 0;
  line-height: 1.7;
}

@media screen and (min-width: 1024px) {
  .productive__text {
    font-size: 16px;
  }
}

.productive__link {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 12px;
  text-decoration: none;
  color: #65e2d9;
  padding: 5px 0;
  margin-top: 15px;
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 135px;
}

.productive__link .link__icon {
  height: 17px;
  margin-left: 5px;
}

@media screen and (min-width: 640px) {
  .productive__link {
    max-width: 170px;
    font-size: 16px;
  }
}

.quotes {
  padding: 150px 50px 0px;
}

@media screen and (min-width: 1024px) {
  .quotes {
    padding: 150px 150px 0;
  }
}

.quotes__icon {
  width: 10%;
  max-width: 50px;
}

@media screen and (min-width: 1024px) {
  .quotes__icon {
    width: 70px;
    max-width: initial;
    -webkit-transform: translate(-10px, 15px);
            transform: translate(-10px, 15px);
  }
}

.quotes__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 640px) {
  .quotes__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.quote {
  background-color: #202a3c;
  padding: 25px;
  border-radius: 5px;
}

.quote:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 640px) {
  .quote:not(:last-child) {
    margin-right: 40px;
  }
}

.quote__text {
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 2;
  color: #dddddd;
}

@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 5px;
}

@media screen and (min-width: 1024px) {
  .author {
    padding: 20px 0 5px;
  }
}

.author__image {
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.author__name {
  font-size: 12px;
}

.author__info {
  font-size: 8px;
}

.call-to-action {
  margin: 0 auto;
  width: 90%;
  padding: 40px 30px;
  background-color: #1c2431;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(175px);
          transform: translateY(175px);
}

@media screen and (min-width: 640px) {
  .call-to-action {
    max-width: 550px;
    margin: 0 auto;
    -webkit-transform: translateY(130px);
            transform: translateY(130px);
  }
}

@media screen and (min-width: 1024px) {
  .call-to-action {
    max-width: 850px;
    padding: 40px 100px;
  }
}

.call-to-action__title {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .call-to-action__title {
    font-size: 30px;
  }
}

.call-to-action__text {
  line-height: 1.7;
  padding: 20px 0 30px;
  color: #dddddd;
}

.call-to-action__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .call-to-action__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.call-to-action__input {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .call-to-action__input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 20px;
  }
}

.call-to-action__btn {
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {
  .call-to-action__btn {
    margin-top: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 250px 30px 30px;
  background-color: #0b1523;
}

@media screen and (min-width: 640px) {
  .footer {
    padding: 250px 100px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 250px 100px 100px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-logo {
    width: 100%;
  }
}

.footer-logo__image {
  width: 180px;
}

.address {
  padding: 30px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .address {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 45px;
  }
}

.address__icon {
  padding: 5px 20px 0 0;
}

.address__text {
  font-size: 16px;
  line-height: 1.7;
}

.contact {
  margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  .contact {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 40px 10px;
  }
}

.contact > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.contact__icon {
  padding: 5px 15px 0 0;
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px 0 0;
}

@media screen and (min-width: 1024px) {
  .footer__links {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 105px;
  }
}

.footer__list {
  list-style: none;
}

.footer__list-item {
  padding: 5px 0;
}

.footer__link {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .footer__link {
    padding: 5px 10px;
    border-radius: 50px;
  }
  .footer__link:hover {
    background-color: #339ecc;
  }
}

.social-media {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .social-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.social-media__link {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-media__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */