.footer {
  display: flex;
  flex-direction: column;
  padding: 250px 30px 30px;
  background-color: $primary-footerblue-color;
  @media screen and (min-width: $tablet-width) {
    padding: 250px 100px 30px;
  }
  @media screen and (min-width: $desktop-width) {
    flex-flow: row wrap;
    padding: 250px 100px 100px;
  }
}

.footer-logo {
  @media screen and (min-width: $desktop-width) {
    width: 100%;
  }
  &__image {
    width: 180px;
  }
}

.address {
  padding: 30px 0 10px;
  display: flex;
  align-items: flex-start;
  @media screen and (min-width: $desktop-width) {
    flex: 3;
    padding: 45px;
  }
  &__icon {
    padding: 5px 20px 0 0;
  }
  &__text {
    font-size: 16px;
    line-height: 1.7;
  }
}

.contact {
  margin-bottom: 25px;
  @media screen and (min-width: $desktop-width) {
    flex: 2;
    padding: 40px 10px;
  }
  & > * {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  &__icon {
    padding: 5px 15px 0 0;
  }
}

.footer {
  &__links {
    flex: 1;
    padding: 40px 0 0;
    @media screen and (min-width: $desktop-width) {
      flex: 1;
      min-width: 105px;
    }
  }
  &__list {
    list-style: none;
  }
  &__list-item {
    padding: 5px 0;
  }
  &__link {
    // inline-block for hover background display
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
    color: white;
    font-size: 16px;
    @media screen and (min-width: $desktop-width) {
      padding: 5px 10px;
      border-radius: 50px;
      &:hover {
        background-color: hsl(198, 60%, 50%);
      }
    }
  }
}

.social-media {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media screen and (min-width: $desktop-width) {
    flex: 1;
    margin-top: 40px;
    justify-content: flex-end;
  }
  &__link {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
