
// Colors
$primary-headerblue-color: hsl(217, 28%, 15%);
$primary-mainblue-color: hsl(218, 28%, 13%);
$primary-footerblue-color: hsl(216, 53%, 9%);
$primary-quotesblue-color: hsl(219, 30%, 18%);

$neutral-white-color: hsl(0, 0%, 100%);

$accent-cyan-color: hsl(176, 68%, 64%);
$accent-blue-color: hsl(198, 60%, 50%);
// Button gradient
$button-gradient-bg: linear-gradient(to right, #34a39b 0%,#33697f 100%);

// Typography
// ### Headings, Call-to-actions, Header Navigation

$items-font: "Raleway", sans-serif;

// Body font
$body-font: "Open Sans", sans-serif;


// Responsive breakpoints
$tablet-width: 640px;
$desktop-width: 1024px;